.top{
    height: 50px;
    width: 100%;
    background-color: rgb(2, 26, 71);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topLeft > span{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.topCenter{
    flex: 6;
}

.topIcon{
    font-size: 20px;
    color: whitesmoke;
    margin-right: 12px;
    cursor: pointer;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.topList{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-transform: uppercase;
    
}

.topListItem{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: whitesmoke;
}

.topbar__username{
    color: whitesmoke;
    font-size: 14px;
    margin-left: 10px;
}

.topSearchIcon{
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
    margin-left: 15px;
}

@media screen and (max-width: 480px){
    .topLeft{
        display: none;
    }
    .topRight{
        display: none;
    }
}